pip==26.0.1
setuptools==80.10.2
wheel==0.46.3
requests==2.32.5
pyyaml==6.0.3
numpy==2.4.2
xlrd==2.0.2
pandas==3.0.0
cloudscraper==1.2.71
pytest-httpserver==1.1.4
python-decouple==3.8
python-telegram-bot[job-queue]==22.5
bpython==0.26
certifi==2026.1.4
garth==0.6.3
pytest==9.0.2
pytest-vcr==1.0.2
pytest-cov==7.0.0
flake8==7.3.0